 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Earth</title>
 </head>
 <body>
 <header>
    <h1> {{title}} </h1>
    <link rel="stylesheet" href="style.css">
 </header>
 <main>
 {{content | safe}}
 </main>
 <div class="earth">
        <img src="images/Earth.svg" alt="Image of Earth">
    </div>
    <div class="moon">
        <a href="moon.md">
            <img src="images/Moon.svg" alt="Image of Moon">
        </a>
    </div>

    
 </body>
 </html>