<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Earth</title>
   </head>
   <body>
      <header>
         <h1> {{title}} </h1>
         <link rel="stylesheet" href="style.css">
      </header>
      <main>
         {{content | safe}}
         <img src="images/Earth.svg" alt="Image of Earth">
         <img src="images/Moon.svg" alt="Image of Moon">
      </main>
      
   </body>
</html>