<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/style.css">
      <title>Earth</title>
   </head>
   <body>

      <header>
         <h1> {{title}} </h1>
         {{content | safe}}
      </header>

      <main>
         <a href="/index"><img src="/images/Earth.svg" alt="Image of Earth"></a>
         <a href="/moon"><img src="/images/Moon.svg" alt="Image of Moon"></a>

      </main>
      
   </body>

</html>